
<%= content_for(:head) do %>
<%= stylesheet_link_tag 'jquery.Jcrop' %>
<%= javascript_include_tag 'jquery.Jcrop' %>

  <% unless @artwork.right_aspect_ratio? %>
  <script type="text/javascript" charset="utf-8">
    $(function() {
      $('#cropbox').Jcrop({
        onChange: update_crop,
        onSelect: update_crop,
        setSelect: <%= @set_select %>,
        aspectRatio: <%= @aspect_ratio %>
      });
    });

    function update_crop(coords) {
      var rx = <%= @width_cood %> /coords.w;
      var ry = <%= @length_cood %> /coords.h;
      $('#preview').css({
        width: Math.round(rx * <%= @artwork.artwork_images.first.image.width * (@width_var.to_f/@art_image.width.to_f) %>) + 'px',
        height: Math.round(ry * <%= @artwork.artwork_images.first.image.height * (@height_var.to_f/@art_image.height.to_f) %>) + 'px',
        marginLeft: '-' + Math.round(rx * coords.x) + 'px',
        marginTop: '-' + Math.round(ry * coords.y) + 'px'
      });
      $("#crop_x").val(Math.round(coords.x) * <%= (@art_image.width.to_f/@width_var.to_f).round(2) %>);
      $("#crop_y").val(Math.round(coords.y) * <%= (@art_image.height.to_f/@height_var.to_f).round(2) %>);
      $("#crop_w").val(Math.round(coords.w) * <%= (@art_image.width.to_f/@width_var.to_f).round(2) %>);
      $("#custom_width").val(Math.round(coords.w) * <%= (@art_image.width.to_f/@width_var.to_f).round(2) %>);
      $("#crop_h").val(Math.round(coords.h) * <%= (@art_image.height.to_f/@height_var.to_f).round(2) %>);
      $("#custom_height").val(Math.round(coords.h) * <%= (@art_image.height.to_f/@height_var.to_f).round(2) %>);
    }
  </script>
  <% end %>
<% end %>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="page-label" align="center">
      <h3>
        EDIT ARTWORK
      </h3>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="col-md-10">
    <div class="row">
      <div class="col-md-5 col-md-offset-1" align="center" >
        <div class="background" style="width:<%= @width_var %>px;height:<%= @height_var %>px;background-color:green;">
          <% if @artwork.right_aspect_ratio? %>
            <%= image_tag(@art_image.url(:medium), width: "#{@width_var}px",
              height: "#{@height_var}px") %>
          <% else %>
            <%= image_tag(@art_image.url, :id => "cropbox",
              width: "#{@width_var}px", height: "#{@height_var}px") %>
          <% end %>
        </div>
        <div class="row" >
          Width: <%= @art_image.width %>
          Height: <%= @art_image.height %>
        </div>
      </div>
      <div class="col-md-5 col-md-offset-1">
        <% unless @artwork.right_aspect_ratio? %>
          <div class="row">
            <h4>Preview</h4>
          </div>
          <div class="row">
            <div style="width:<%= @width_cood %>px; height:<%= @length_cood %>px; overflow:hidden; " >
              <div border=1>
                <%= image_tag @art_image.url, :id => "preview" %>
              </div>
            </div>
          </div>
        <% end %>
        <div class="row">
          <%= form_for(@artwork, html: {autocomplete: "off"}) do |f| %>
            <%= f.hidden_field :id %>
            <%= hidden_field_tag :_method, "put" %>
            <%= f.fields_for :artwork_images, @artwork.artwork_images do |a| -%>
              <%= a.hidden_field :id %>
              <% unless @artwork.right_aspect_ratio? %>
                <% for attribute in [:crop_x, :crop_y, :crop_w, :crop_h] %>
                <div class="col-md-12">
                  <div class="row">
                    <div class="form-group">
                    <% if attribute == :crop_w %>
                      Width
                      <%= text_field_tag :custom_width, nil, class: "form-control
                        like-button", disabled: true %>
                    <% elsif attribute == :crop_h %>
                      Height
                      <%= text_field_tag :custom_height, nil, class: "form-control
                        like-button", disabled: true %>
                    <% end %>
                    <%= a.hidden_field attribute, :id => attribute,
                      class: "form-control like-button" %>
                    </div>
                  </div>
                </div>
                <% end %>
              <% end %>
              <div class="edit-artwork-form col-md-12">
                <% if @artwork.errors.any? %>
                  <%= custom_error_messages @artwork %>
                <% end %>
                <div class="row">
                  <div class="form-group">
                    <%= f.text_field :name, class: "form-control like-button", placeholder: "Title" %>
                  </div>
                  <div class="form-group">
                    <%= f.text_area :description, class: "form-control like-button", placeholder: "Description", rows: 6 %>
                  </div>
                  <div class="form-group force-button">
                    <%= f.select(:category_id, Category.all.map{|u|[u.name, u.id]}, {}, {class: "form-control borderless", prompt: "Category"}) %>
                  </div>
                  <div class="form-group force-button">
                    <%= f.select(:artwork_style_id, ArtworkStyle.all.map{|u|[u.name, u.id]}, {}, {class: "form-control borderless", prompt: "Style"}) %>
                  </div>
                  <div class="form-group pull-left">
                    Is this piece Limited Edition?
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="col-md-6" style="padding-left:0 !important">
                          <%= f.radio_button :limited_edition, false,
                            checked: "#{(f.object.limited_edition == false) ? 'checked' : ''}", onclick: "show_quantity();" %>
                          <label for= "artwork_limited_edition_false" class="btn btn-default like-button form-control" disabled=true>
                            NO
                          </label>
                        </div>
                        <div class="col-md-6" style="padding-right:0 !important">
                          <%= f.radio_button :limited_edition, true,
                            checked: "#{(f.object.limited_edition == true) ? 'checked' : ''}", onclick: "show_quantity();" %>
                          <label for= "artwork_limited_edition_true" class="btn btn-default
                            like-button form-control" disabled=true>
                            YES
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group" id="artwork_quantity_div" style="display:<%= "#{(f.object.limited_edition == true or !f.object.limited_edition.blank?) ? 'inline' : 'none'}" %>;">
                    <%= f.text_field :quantity, disabled: "true", class: "form-control like-button", placeholder: "Number of pieces in this edition*" %>
                  </div>
                  <div class="form-group pull-left">
                  Price Mark Up (%) <br/>
                  <p style="font-size:10px;"> Your profit will be this percentage taken from the retail price of the art print.</p>
                  </div>
                <%= f.fields_for :mark_up_prices, @artwork.mark_up_prices.build do |m| -%>
                  <div class="form-group">
                    <%= m.number_field :percentage, class: "form-control like-button", placeholder: "Percentage",
                      onkeyup: "update_profit_fields('x');", value: @artwork.current_markup.try(:percentage).to_i %>
                    <%= m.text_field :id, value: "#{@artwork.current_markup.try(:id)}", hidden: true %>
                    <%= text_field_tag :artwork_orientation, nil, value: @orientation, hidden: true %>
                  </div>
                <% end %>
                <%= render "mark_up_prices" %>
                </div>
              </div>
            <% end %>
            <div class="col-md-12">
              <div class="row" align="center">
                <%= f.submit "Save", class: "btn btn-primary btn-lg btn-artist-type
                  like-button borderless" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>