<div class="col-xs-12 plr-185">
	<div class="container-fluid">
		<div class="row footer">
			<div class="col-md-4 ta-center-on-sm m-b-10">
				&copy; 2017 Artzibit
			</div>
			<div class="col-md-8 text-right ta-center-on-sm m-b-10">
				<a href="#" class="menu-item">About Artzibit</a>
				<a href="#" class="menu-item">Terms of Service</a>
				<a href="#" class="menu-item">FAQs</a>
				<a href="#" class="menu-item">Contact</a>
			</div>
		</div>
	</div>
</div>