<!-- START HEADER AREA -->
<header class="header-area header-wrapper">
    <!-- header-middle-area -->
    <div id="sticky-header" class="header-middle-area plr-185">
        <div class="container-fluid">
            <div class="full-width-mega-dropdown">
                <div class="row">
                    <!-- logo -->
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="logo">
                            <%= link_to root_path do %>
                                <%= image_tag "black_logo.png", alt: "Artzibit", class: "img-responsive" %>
                            <% end %>
                        </div>
                    </div>
                    <!-- primary-menu -->
                    <div class="col-md-10 hidden-sm hidden-xs">
                        <nav id="primary-menu">
                            <ul class="main-menu text-right">
                                <li><a href="#">Browse Artwork</a></li>
                                <% if current_user.blank? %>
                                <li>
                                  <%= link_to "Sign Up", new_registration_path(:user), class: "#{navbar_white_link_active(controller_name, action_name,
                                  'sign_up')}" %>
                                </li>
                                <li>
                                  <%= link_to "Sign In", new_session_path(:user), class: "#{navbar_white_link_active(controller_name, action_name, 'sign_in')}" %>
                                </li>
                                <% else %>

                                <li class="dropdown">
                                  <a href="#" class="dropdown-toggle <%= navbar_white_link_active(controller_name,
                                    action_name, 'profile') %>"
                                    data-toggle="dropdown"
                                    role="button" aria-haspopup="true" aria-expanded="false"
                                    style= "color:<%=@color%>;background-color:white;">
                                    PROFILE
                                      <span class="caret" style= "color:<%=@color%>;"></span>
                                  </a>
                                  <ul class="dropdown-menu">
                                    <li>
                                      <%= link_to artworks_path, style: "color:#{@color};" do %>
                                        MY ARTWORKS
                                      <% end %>
                                    </li>
                                    <li>
                                      <%= link_to edit_user_registration_path, style: "color:#{@color};" do %>
                                        EDIT PROFILE
                                      <% end %>
                                    </li>
                                    <li>
                                      <%= link_to destroy_user_session_path, method: "delete", style: "color:#{@color};" do %>
                                        SIGN OUT
                                      <% end %>
                                    </li>
                                  </ul>
                                </li>
                                <% end %>
                                
                                <li>
                                    <a href="#">
                                        <i class="zmdi zmdi-star-outline zmdi-hc-lg"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="zmdi zmdi-shopping-cart zmdi-hc-lg"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="zmdi zmdi-search zmdi-hc-lg"></i>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- END HEADER AREA -->

<!-- START MOBILE MENU AREA -->
<div class="mobile-menu-area hidden-lg hidden-md">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="mobile-menu">
                    <nav id="dropdown">
                       <ul>
                         <li><a href="#">Browse Artwork</a></li>
                                <li><a href="#">Sign up</a></li>
                                <li><a href="#">Sign in</a></li>
                                <li>
                                    <a href="#">
                                        <i class="zmdi zmdi-star-outline zmdi-hc-lg"></i>
                                        Favourites
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="zmdi zmdi-shopping-cart zmdi-hc-lg"></i>
                                        Cart
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="zmdi zmdi-search zmdi-hc-lg"></i>
                                        Search
                                    </a>
                                </li>
                       </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MOBILE MENU AREA -->


<script type="text/javascript">
  function display_sign_in() {
    sign_in = document.getElementById("page-mask-signin");
    sign_form = document.getElementById("new_user_form");
    sign_in.style.display = "block";
    sign_form.style.display = "block";
  }
</script>
