<div id="home_carousel" class="carousel bs-slider slide  control-round indicators-line" data-ride="carousel" data-pause="hover" data-interval="5000" >
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#home_carousel" data-slide-to="0" class="active"></li>
        <li data-target="#home_carousel" data-slide-to="1"></li>
        <li data-target="#home_carousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper For Slides -->
    <div class="carousel-inner" role="listbox">
        <!--  Slide -->
        <div class="item active">

            <!-- Slide Background -->
            <img src="<%= image_path('banner-img.jpg')%>" alt="Bootstrap Touch Slider"  class="slide-image"/>
            <div class="bs-slider-overlay"></div>
            <!-- Slide Text Layer -->
            <div class="slide-text slide_style_center">
                <h1 data-animation="animated flipInX">Looking for the Perfect Print?</h1>
                <h2 class="heading" data-animation="animated lightSpeedIn">We've got it</h2>
                <a class="button large mb-20" href="#"  data-animation="animated fadeInDown"><span>START SHOPPING </span> </a>
            </div>
        </div>
        <!-- End of Slide -->


        <!--  Slide -->
        <div class="item">

            <!-- Slide Background -->
            <img src="<%= image_path('banner-img.jpg')%>" alt="Bootstrap Touch Slider"  class="slide-image"/>
            <div class="bs-slider-overlay"></div>
            <!-- Slide Text Layer -->
            <div class="slide-text slide_style_center">
                <h1 data-animation="animated flipInX">Looking for the Perfect Print?</h1>
                <h2 class="heading" data-animation="animated lightSpeedIn">We've got it</h2>
                <a class="button large mb-20" href="#"  data-animation="animated fadeInDown"><span>START SHOPPING </span> </a>
            </div>
        </div>
        <!-- End of Slide -->

        <!--  Slide -->
        <div class="item">

            <!-- Slide Background -->
            <img src="<%= image_path('banner-img.jpg')%>" alt="Bootstrap Touch Slider"  class="slide-image"/>
            <div class="bs-slider-overlay"></div>
            <!-- Slide Text Layer -->
            <div class="slide-text slide_style_center">
                <h1 data-animation="animated flipInX">Looking for the Perfect Print?</h1>
                <h2 class="heading" data-animation="animated lightSpeedIn">We've got it</h2>
                <a class="button large mb-20" href="#"  data-animation="animated fadeInDown"><span>START SHOPPING </span> </a>
            </div>
        </div>
        <!-- End of Slide -->


    </div><!-- End of Wrapper For Slides -->

    <!-- Left Control -->
    <a class="left carousel-control" href="#home_carousel" role="button" data-slide="prev">
        <span class="fa fa-angle-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>

    <!-- Right Control -->
    <a class="right carousel-control" href="#home_carousel" role="button" data-slide="next">
        <span class="fa fa-angle-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>

</div> <!-- End  home_carousel Slider -->



