<%= stylesheet_link_tag "devise", :media => "all" %>
<div class="mb-50">
  <%= render "home_carousel" %>
</div>


<!-- FEATURED PRODUCT SECTION START -->
<div class="featured-product-section mb-50">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-left mb-40">
                    <h2>
                      <span>Art</span><span class="c-gray">zibit Picks</span></h2>
                </div>
            </div>
        </div>
        <div class="featured-product">
            <div class="row active-featured-product slick-arrow-2">

                <!-- product-item start -->
                <div class="col-xs-12">
                    <div class="product-item">
                        <div class="product-img">
                            <a href="#">
                                <img class="img-responsive" src="https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-40800.jpg" alt=""/>
                            </a>
                        </div>
                        <div class="product-info">
                            <div class="row m-0">
                              <div class="col-xs-9">
                                <h6 class="product-title">
                                  <a href="#">Product Name</a>
                                </h6>
                                <h5 class="product-owner">Author</h5>

                              </div>
                              <div class="col-xs-3 text-right">
                                <a href="#"><i class="fa fa-star-outline"></i></a>
                              </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <!-- product-item end -->


                <!-- product-item start -->
                <div class="col-xs-12">
                    <div class="product-item">
                        <div class="product-img">
                            <a href="#">
                                <img class="img-responsive" src="https://i.pinimg.com/originals/0a/fc/13/0afc13e0cbd4d2d90ce9b2de09db38b1.jpg" alt=""/>
                            </a>
                        </div>
                        <div class="product-info">
                            <div class="row m-0">
                              <div class="col-xs-9">
                                <h6 class="product-title">
                                  <a href="#">Product Name</a>
                                </h6>
                                <h5 class="product-owner">Author</h5>

                              </div>
                              <div class="col-xs-3 text-right">
                                <a href="#"><i class="fa fa-star-outline"></i></a>
                              </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <!-- product-item end -->
                


                
                <!-- product-item start -->
                <div class="col-xs-12">
                    <div class="product-item">
                        <div class="product-img">
                            <a href="#">
                                <img class="img-responsive" src="https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-40800.jpg" alt=""/>
                            </a>
                        </div>
                        <div class="product-info">
                            <div class="row m-0">
                              <div class="col-xs-9">
                                <h6 class="product-title">
                                  <a href="#">Product Name</a>
                                </h6>
                                <h5 class="product-owner">Author</h5>

                              </div>
                              <div class="col-xs-3 text-right">
                                <a href="#"><i class="fa fa-star-outline"></i></a>
                              </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <!-- product-item end -->
                



                <!-- product-item start -->
                <div class="col-xs-12">
                    <div class="product-item">
                        <div class="product-img">
                            <a href="#">
                                <img class="img-responsive" src="<%= image_path('prod-cat-01.jpg')%>"" alt=""/>
                            </a>
                        </div>
                        <div class="product-info">
                            <div class="row m-0">
                              <div class="col-xs-9">
                                <h6 class="product-title">
                                  <a href="#">Product Name</a>
                                </h6>
                                <h5 class="product-owner">Author</h5>

                              </div>
                              <div class="col-xs-3 text-right">
                                <a href="#"><i class="fa fa-star-outline"></i></a>
                              </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <!-- product-item end -->


                <!-- product-item start -->
                <div class="col-xs-12">
                    <div class="product-item">
                        <div class="product-img">
                            <a href="#">
                                <img class="img-responsive" src="<%= image_path('prod-cat-02.jpg')%>"" alt=""/>
                            </a>
                        </div>
                        <div class="product-info">
                            <div class="row m-0">
                              <div class="col-xs-9">
                                <h6 class="product-title">
                                  <a href="#">Product Name</a>
                                </h6>
                                <h5 class="product-owner">Author</h5>

                              </div>
                              <div class="col-xs-3 text-right">
                                <a href="#"><i class="fa fa-star-outline"></i></a>
                              </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <!-- product-item end -->





                <!-- product-item start -->
                <div class="col-xs-12">
                    <div class="product-item">
                        <div class="product-img">
                            <a href="#">
                                <img class="img-responsive" src="https://cdn.jan-kath.com/dist/img/collection/artwork/carpets/ARTWORK-24-PURPLE.jpg" alt=""/>
                            </a>
                        </div>
                        <div class="product-info">
                            <div class="row m-0">
                              <div class="col-xs-9">
                                <h6 class="product-title">
                                  <a href="#">Product Name</a>
                                </h6>
                                <h5 class="product-owner">Author</h5>

                              </div>
                              <div class="col-xs-3 text-right">
                                <a href="#"><i class="fa fa-star-outline"></i></a>
                              </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <!-- product-item end -->
                
            </div>
        </div>          
    </div>            
</div>
<!-- FEATURED PRODUCT SECTION END -->      


<!-- BY BRAND SECTION START-->
<div class="by-brand-section mb-80">
    <div class="container">
        <div class="by-brand-product">
            <div class="row active-by-brand slick-arrow-2">
                <!-- single-brand-product start -->
                <div class="col-xs-12">
                    <div class="single-brand-product">
                        <div class="item-overlay"></div>
                        <a href="#">
                          <img class="img-responsive" src="<%= image_path('prod-cat-01.jpg')%>"" alt=""/>
                        </a>
                        <h3 class="brand-title">
                            Photography
                        </h3>
                    </div>
                </div>
                <!-- single-brand-product end -->
                <!-- single-brand-product start -->
                <div class="col-xs-12">
                    <div class="single-brand-product">
                        <div class="item-overlay"></div>
                        <a href="#">
                          <img class="img-responsive" src="<%= image_path('prod-cat-02.jpg')%>"" alt=""/>
                        </a>
                        <h3 class="brand-title">
                            Digital Art
                        </h3>
                    </div>
                </div>
                <!-- single-brand-product end -->
                <!-- single-brand-product start -->
                <div class="col-xs-12">
                    <div class="single-brand-product">
                        <div class="item-overlay"></div>
                        <a href="#">
                          <img class="img-responsive" src="<%= image_path('prod-cat-03.jpg')%>"" alt=""/>
                        </a>
                        <h3 class="brand-title">
                            Illustration
                        </h3>
                    </div>
                </div>
                <!-- single-brand-product end -->
            </div>
        </div>
    </div>
</div>
<!-- BY BRAND SECTION END -->


