<div class="forgot_password_form col-md-8 col-md-offset-2">
  <%= form_for(@user, as: :user, url: password_path(:user), html: { method: :post }) do |f| %>
    <div class="row">
      <div class="forgot-header form-group blue-green">
        <h3> FORGOT YOUR PASSWORD?</h3>
      </div>
    </div>
    <div class="row">
      <p class="forgot-subheader"> No worries, enter your email below and we'll send password
        reset instructions to you.</p>
    </div>
    <div class="row">
      <div class="form-group">
        <%= devise_error_messages! %>
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <%= f.email_field :email, autofocus: true, class: "form-control like-button",
          placeholder: "Email Address*"%>
      </div>
    </div>
    <div class="row">
      <%= f.submit "RESET PASSWORD", class: "btn btn-secondary log-in-submit form-control like-button" %>
    </div>
  <% end %>
</div>