/** header **/
.logo{
	padding: 30px 0;
}
.main-menu > li{
	padding: 34px 0;	
}


/** home **/
.single-brand-product .brand-title{
	bottom: 40%;
    color: #ffffff;
    font-style: normal;
    font-weight: bolder;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.20);
}

.product-item{
	margin-bottom: 15px;
}
.product-info{
	position: relative;
	text-align: left;
	background: #FFF;
	.product-title{
		margin-bottom: 3px;
	}
}
.product-img{
	display: table;
	padding: 20px;
	height: 270px;
	background: #DEDEDE;
	width: 100%;
	a{
		display: table-cell;
  	vertical-align: middle;
	}
	img{
		max-height: 230px;
		margin: 0 auto;
		width: auto;
	}
}

.item-overlay{
	background-color: rgba(28,28,28,0.20);
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	&:hover{
		cursor: pointer;
		background-color: rgba(28,28,28,0.40);
	}
}

/** footer **/
.footer{
	border-top: 2px solid #000;
	width: 100%;
	min-height: 30px;
	padding: 20px 0px 40px 0px;
	.menu-item{
		margin-right: 1em;
		text-decoration: none;
		&:hover{
			text-decoration: underline;
		}
	}
	.menu-item:not(:last-child){
		margin-right: 1em;
	}

	@media screen and (max-width: 767px) {
	 .menu-item{
	 	 display: block;
	 }
	}
}



/** slider **/
#home_carousel{
	.bs-slider-overlay{ background-color: rgba(0, 0, 0, 0.5); }
	max-height: 400px;
	h1, h2, p{
		text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.70);
	}
	.slide-text{
		top: 15%;
		text-align: center;
		padding: 0 20%;
	}
	.slide-text > h1{
		font-size: 50px;
		margin-bottom: 5px;
		line-height: 1;
		font-style: italic;
		font-weight: bolder;
	}
	.slide-text > h2{
		padding: 0;
		color: #ffffff;
		font-size: 50px;
		font-style: normal;
		font-weight: bolder;
		text-transform: uppercase;
		line-height: 1;
		letter-spacing: 1px;
		display: inline-block;
		-webkit-animation-delay: 0.7s;
		animation-delay: 0.7s;
		display: block;
	}

	a.button.large span{
		font-weight: 900;
	}
	.control-round .carousel-control.left{
		left: 25% !important;
	}
	.control-round .carousel-control.right{
		right: 25% !important;
	}

	@media screen and (max-width: 767px) {
		.slide-text > h1{ font-size: 28px;}
		.slide-text > h2{ font-size: 24px;}
		.slide-text > p{ font-size: 24px;}
		.button{ font-size: 14px;}
	}


}

/** Generic classes **/
.error{
	font-size: .8em;
	color: #a94442;
	margin-bottom: 3px;
}


.text-right{
	text-align: right;
}
.text-left{
	text-align: left;
}
.text-center{
	text-align: center;
}

.p-0{ 
	padding: 0; 
}

.p-l-0{ padding-left: 0px;}
.p-l-5{ padding-left: 5px;}
.p-r-0{ padding-right: 0px;}
.p-r-5{ padding-right: 5px}

.m-0{
	margin: 0px;
}
.m-t-10{
	margin-top: 10px;
}
.m-t-50{
	margin-top: 50px;
}
.m-t-100{
	margin-top: 100px;
}
.m-b-10{
	margin-bottom: 10px;
}

.m-b-50{
	margin-bottom: 50px;
}
.m-b-100{
	margin-bottom: 100px;
}

.c-gray{
	color: lighten( #000000, 50% );
}

@media screen and (max-width: 767px) {
	 .ta-center-on-sm{
	 	 text-align: center !important;
	 }
 }


 .fa-star-outline:before {
    background-image: url('/assets/fave-01.png');
    background-size: 30px 30px;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    display: inline-block;
    overflow: hidden;
    content: "";
}
 .fa-star-outline:hover{
 		cursor: pointer;
 		&:before{
	 		background-image: url('/assets/fave-02.png');
	    background-size: 30px 30px;
	    background-repeat: no-repeat;
	    width: 30px;
	    height: 30px;
	    display: inline-block;
	    overflow: hidden;
	    content: "";
    }
 }

 .fa-star-outline-sm:before {
    background-image: url('/assets/fave-01.png');
    background-size: 15px 15px;
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    display: inline-block;
    overflow: hidden;
    content: "";
}


 .fa-star-outline-sm:hover{
 		cursor: pointer;
 		&:before{
	 		background-image: url('/assets/fave-02.png');
	    background-size: 15px 15px;
	    background-repeat: no-repeat;
	    width: 15px;
	    height: 15px;
	    display: inline-block;
	    overflow: hidden;
	    content: "";
    }
 }

