<!DOCTYPE html>
<html>
  <head>
    <title>Artzibit</title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= stylesheet_link_tag "devise", :media => "all" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
   
    <body>
        <div class="wrapper">
            <%= render "shared/navbar" %> 
            <%= yield %>
            <%= render "shared/footer" %> 

        </div>

    </body>
    
    <%= javascript_include_tag "application" %>
    
  </body>
</html>
