<!DOCTYPE html>
<html>
  <head>
    <title>ArtzibitDev</title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= stylesheet_link_tag "devise", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= google_webfonts_init({
      google: ['Montserrat']
    }) %>
    <%= yield(:head) %>
  </head>
  <body oncontextmenu= "return false">
    <div class="container-fluid">
      <div class="row">
        <%= render "shared/navbar" %>
      </div>
      <div class="row">

        <div class="col-md-5 col-sm-5 col-xs-5 left-div" style="background: url(<%=image_path(@bg_image)%>) repeat-y 50% 0;;
          background-size: cover;">
          <% if controller_name == "artworks" %>
            <%= render "shared/file_requirements" %>
          <% end %>
        </div>
        <div class="col-md-7 col-sm-7 col-xs-7 right-div">
          <%= yield %>
        </div>

      </div>
    </div>
  </body>
</html>
