<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="edit-artwork-label" align="center">
      <h4>
        EDIT PROFILE
      </h4>
    </div>
  </div>
</div>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name),
  html: { method: :put }) do |f| %>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="form-group">
      <% if resource.errors.any? or !alert.blank? %>
        <%= custom_error_messages resource, alert %>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-2 col-md-offset-2" align="right">
    <h5><%= f.label :name %></h5>
  </div>
  <div class="col-md-4">
     <div class="form-group">
      <%= f.text_field :name, autofocus: true, class: "form-control like-button",
        placeholder: "Name*" %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-2 col-md-offset-2" align="right">
    <h5><%= f.label :email %></h5>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <%= f.email_field :email, autofocus: true, class: "form-control like-button",
        disabled: true %>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-2 col-md-offset-2" align="right">
    <h5><%= f.label :current_password %></h5>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <%= f.password_field :current_password, autocomplete: "off", class: "form-control
      like-button", placeholder: "Current Password" %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-2 col-md-offset-2" align="right">
    <h5><%= f.label :password %></h5>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <%= f.password_field :password, autocomplete: "off", class: "form-control
      like-button", placeholder: "Password" %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-2 col-md-offset-2" align="right">
    <h5><%= f.label :password_confirmation %></h5>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <%= f.password_field :password_confirmation, autocomplete: "off",
        class: "form-control like-button", placeholder: "Password Confirmation" %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-2 col-md-offset-2" align="right">
    <p> I am a... </p>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-6" style="padding-left:0;">
            <%= f.radio_button :artist_type, 'photographer',
              checked: "#{(f.object.artist_type == 'photographer') ? 'checked' : ''}" %>
            <label for= "user_artist_type_photographer" class="btn btn-default like-button form-control">
              Photographer
            </label>
          </div>
          <div class="col-md-6" style="padding-right:0;">
            <%= f.radio_button :artist_type, 'visual_artist',
              checked: "#{(f.object.artist_type == 'visual_artist') ? 'checked' : ''}" %>
            <label for= "user_artist_type_visual_artist" class="btn btn-default
              like-button form-control">
              Visual Artist
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-2 col-md-offset-2" align="right">
    <h5><%= f.label :website_portfolio %></h5>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <%= f.text_field :website_portfolio, autofocus: true, class: "form-control like-button",
        placeholder: "Website/Portfolio" %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-2 col-md-offset-5">
    <div class="form-group">
      <%= f.hidden_field :id, value: f.object.id %>
      <%= f.submit "Save", class: "btn btn-primary form-control like-button" %>
    </div>
  </div>
</div>

<% end %>
